* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
}

.flex-container {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-content: center;
  margin-bottom: 4px;
}

.header-section {
  margin-bottom: 16px;
}

/* the grid is made up of 3 layers of flex containers */
.grid-section {
  font-size: 12px;
  font-weight: 700;
  color: #333;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 16px;
}

.row {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 4px;
}

.letter-box {
  width: 50px;
  height: 50px;
  border: 2px solid #cdcdcd;
  background-color: #e7e7e7;
  /* make the letter box a flex-box to center the child */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.letter {
  font-size: 30px;
}

.key {
  font-weight: 500;
  background-color: #cdcdcd;
  width: 40px;
  height: 50px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
}

.key:hover {
  background-color: #d7d7d7;
}

#Enter,
#Backspace {
  width: 76px;
}

.letter-uncheck {
  border: 2px solid #898989;
}

.letter-wrong {
  color: #e7e7e7;
  border: 2px solid #898989;
  background-color: #898989;
}

.letter-incorrect-position {
  color: #e7e7e7;
  border: 2px solid #af9028;
  background-color: #af9028;
}

.letter-correct {
  color: #e7e7e7;
  border: 2px solid #7ebd3a;
  background-color: #7ebd3a;
}
